/** Control color **/
:root {
    --primaryColor: #029c31;
    --secondaryColor: #13d34d;
    --tertiaryColor: #9febb5;
    --navColor: #b0cfba;
}

body,
body h3 {
    margin: 0;
}

/** Control color **/
header {
    background-color: var(--primaryColor);
    color: white;

}

header h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

header h3 {
    text-align: center;
     padding-bottom: 10px;
}

nav {
    background-color: var(--navColor);
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-flex;
    align-content: center;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    align-content: center;
    color: rgb(0, 0, 0);
    height: 30px;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #9febb5;
}

.form-section {
    display: inline-block;
    background-color: var(--secondaryColor);
    width: 25%;
    height: 100%;
}

.form-section .input {
    margin: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.form-section .input label {
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submit-button:hover {
    background-color: #9e7934;
}

.content {
    background-color: var(--tertiaryColor);
    width: 75%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.content h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.content article {
    font-size: 20px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.content .span-overline {
    text-decoration: overline;
}

.content .span-underline {
    text-decoration: underline;
}

.content .span-line-through {
    text-decoration: line-through;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    align-content: center;
    height: 7%;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: rgb(255, 186, 58);
}

footer a:active {
    color: rgb(121, 78, 0);
}

footer a:visited {
    color: rgb(0, 116, 15);
}