body {
    margin: 0;
}

header {
    background-color: hsl(238, 92%, 23%);
    border-bottom: .5em solid hsl(218, 88%, 45%);
}

header h1 {
    padding: .6em .5em;
    color: white;
    font-style: italic;
    margin: 0;
    text-transform: uppercase;
}

/** Login **/
.login {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.login img {
    object-fit: cover;
    width: 100%;
}

.login form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: hsl(218, 100%, 82%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    height: 50vh;
    box-shadow: 1px 5px 10px hsl(222, 61%, 39%);
    overflow: hidden;
    border: .2em solid rgb(11, 57, 222);
}

.login form h2 {
    background-color: hsl(218, 94%, 37%);
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: hsl(0, 0%, 100%);
    padding: .2em;
    margin: 0;
    margin-bottom: .4em;
}

.login form input {
    display: block;
    width: 17em;
    height: 1.7em;
    margin: 1em;
    border: .1em solid hsl(218, 94%, 37%);
    border-radius: .2em;
}

.login button {
    display: block;
    width: 10em;
    height: 2em;
    margin-top: 2em;
    font-size: 1.1em;
    background-color: hsl(116, 97%, 37%);
    border-style: none;
    border-radius: 1em;
    color: white;
}

.login button:hover {
    background-color: hsl(116, 94%, 19%);
}

/**Loading**/

.loading-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: hsl(208, 82%, 87%);
    z-index: 10;
}

.loading-group {
    margin-top: 10%;
    width: 50%;
}

.loading-group h1 {
    text-align: center;
    color: rgb(16, 10, 55);
}

.progress-container {
    width: 100%;
    height: 2em;
    background-color: rgb(16, 10, 55);
    border-radius: 1em;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: rgb(31, 69, 172);
    transition: width 0.3s ease-in-out;
}


/** Banner**/

.banner-container {
    background-color: blueviolet;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.banner-container img {
    object-fit: cover;
    transform: translateY(-50%);
    width: 100%;
}

.banner-container h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 2em;
    color: white;
    background-color: hsla(0, 0%, 4%, 0.666);
    padding: 1em 5em;
    border-radius: 1em;
}

/**Side nav**/
.side-nav {
    position: fixed;
    left: 0%;
    width: 30vh;
    background-color: hsla(0, 0%, 0%, 0.6);
    display: flex;
    flex-direction: column;
}

.side-nav a {
    background-color: rgb(31, 69, 172);
    padding: .5em;
    margin: .5em .5em;
    text-align: center;
    font: 2em;
    text-decoration: none;
    color: white;
    border-radius: .5em;
}

.side-nav a:hover {
    background-color: rgb(7, 28, 86);
}


/**Section*/
.section-container {
    background-color: rgb(205, 229, 255);
    padding-left: 20%;
    padding-top: 1%;
    font-size: 1.5em;
}

.section-container section {
    background-color: rgb(31, 69, 172);
    margin: 1em 0;
    width: 80%;
    border-radius: .2em;
    padding: 1em;
    color: white;
}

.section-img {
    width: 50%;
    border-radius: .5em;
    border: .2em solid white;
}

.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;

}

.collapse-container button {
    border-style: none;
    padding: 1em 2em;
    background-color: rgb(118, 150, 238);
    border-radius: 1em;
    font-weight: bold;
    font-size: .6em;
}

.inner-content {
    display: none;
}

.collapse-container button:hover {
    background-color: rgb(11, 39, 116);
    color: white;
}

/** Slideshow*/

.slide {
    width: 90vh;
    height: 50vh;
    border-radius: 1em;
    border: .2em solid white;
    overflow: hidden;
    display: none;
    margin: auto;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.slide-img {
    width: 100%;
    height: 100%;
}

/*Profile*/
.profile-card{
    margin-top: 5%;
    width: 300px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.card-header h2{
    font-size: 18px;
    color: #555;
    margin: 0 0 20px
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    border: 3px solid #ddd;
}

.profile-name{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 15px 0 5 px;
}

.profile-title {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px
}

.profile-education {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}

.social-links {
    margin: 15px 0;
}

.social-links a{
    text-decoration: none;
    font-size: 20px;
    color: #555;
    margin: 0 10px;
    transition: color 0.3 ease;
}


.social-links a:hover {
    color: #007BFF;
}

.contact-btn {
    background: #0811b7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: #333;
}



@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}