body {
    margin: 0;
}

/*------------------Header------------------*/

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: .7em rgb(102, 51, 168) solid;
}

header img {
    width: 20%;
}

/*------------------ Navigation bar------------------*/

.navigation .navigation-item {
    display: inline;
    list-style-type: none;
    padding: 0px 10px 5px 5px;
}

.navigation .navigation-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navigation .navigation-item a:hover {
    text-decoration: none;
    color: rgb(102, 51, 168);
    border-bottom: 5px rgb(102, 51, 168) solid;
    font-size: 21px;

    animation-name: nav-item-select;
    animation-duration: .5s;
}

.navigation #active a {
    text-decoration: none;
    color: rgb(102, 51, 168);
    font-size: 21px;
}

/*------------------Dropdown------------------*/
.dropdown {
    display: inline-block;
}

.dropdown-title {
    display: flex;
    justify-content: center;
}

.dropdown:has(.dropdown-content:hover) .dropdown-title,
.dropdown:hover .dropdown-title {
    color: rgb(102, 51, 168);
}

#active,
.dropdown:has(.dropdown-content:hover) .dropdown-title a {
    text-decoration: none;
    color: rgb(102, 51, 168);
    font-size: 21px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content:hover {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(251, 223, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: .1em;
    padding: 1.5em;

    z-index: 5;
}

.dropdown-content a {
    display: block;
    padding: .3em;
}

/*-------------------Main page banner-------------------*/

.main-page-banner {
    align-items: center;
    position: relative;
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main-page-banner::before {
    background-image: url(Images/Graduate.webp);
    background-repeat: no-repeat;
    background-position-y: 35%;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 100%;
    height: 100%;

    filter: blur(4px);
    animation-name: blur-anim;
    animation-duration: 1.5s;
    z-index: 0;
}

.main-page-banner h1 {
    margin: 0;
    font-size: 100px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    z-index: 1;

    animation-name: opacity;
    animation-duration: 1;
}

/*----------------------------Section container---------------------------*/

.section-container {
    background-color: rgb(237, 237, 237);
    padding-bottom: 2em;
}



.section-container h1 {
    background-color: rgb(102, 51, 168);
    display: inline-block;
    padding: .3em .5em;
    padding-right: 3em;
    border-bottom-right-radius: 3em;
    font-size: 2.1em;
    color: white;
    margin: 0;
}

.section-container-content {
    display: flex;
    background-color: rgb(237, 237, 237);
    justify-content: space-evenly;
    align-items: center;
}

.section-container-content p {
    width: 40em;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5em;
}

.section-container-content img {
    width: 25em;
    border-radius: 1em;
}

.section-container-right {
    background-color: rgb(226, 225, 225);
    padding-bottom: 2em;
}

.section-container-right h1 {
    background-color: rgb(102, 51, 168);
    display: block;
    padding: .3em .5em;
    padding-left: 2em;
    border-bottom-left-radius: 3em;
    font-size: 2.1em;
    color: white;
    margin: 0;
    margin-left: auto;
    width: fit-content;
}

.section-container-right .section-container-content {
    display: flex;
    background-color: rgb(226, 225, 225);
    justify-content: space-evenly;
    align-items: center;
}

.section-container-right .section-container-content ul {
    width: 40em;
    font-size: 1.1em;
    text-align: justify;
    padding-top: 1em;
}

.section-container-right .section-container-content li {
    padding: .3em;
}

.section-container-right .section-container-content img {
    width: 25em;
    border-radius: 1em;
}


.section-container-center {
    background-color: rgb(251, 223, 255);
    padding-bottom: 2em;
    position: relative;
}


.section-container-center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(Images/background1.png);
    background-size: cover;
    z-index: 0;
}

.section-container-center>* {
    position: relative;
    z-index: 1;
}


.section-container-center h1 {
    background-color: rgb(102, 51, 168);
    display: block;
    padding: .1em 5em;

    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;

    font-size: 2.5em;
    color: white;
    margin: 0;
    margin: auto;
    width: fit-content;
}

.section-container-center hr {
    border-bottom: 1em rgb(102, 51, 168) solid;
    margin: 0;
}

.section-container-center video {
    display: block;
    margin: 1.5em auto 1.5em auto;
    border-radius: 1em;
}

/*------------------------Facilities container-----------------------*/
.section-container-content-facilities {
    display: flex;
    background-color: rgb(237, 237, 237);
    justify-content: space-evenly;
    align-items: center;
}

.section-container-content-facilities-right {
    display: flex;
    background-color: rgb(226, 225, 225);
    justify-content: space-evenly;
    align-items: center;
}

.section-container-content-facilities p {
    width: 40em;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5em;
}

.section-container-content-facilities-right p {
    width: 40em;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5em;
}

.section-container-content-facilities-right .img-container,
.section-container-content-facilities .img-container {
    display: flex;
    width: 30em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-container-content-facilities-right img,
.section-container-content-facilities img {
    width: 80%;
    display: block;
    padding: 1em;
    border-radius: 2em;
    margin: 0;
}

.facility-header {
    text-align: center;
    position: relative;
    font-size: 1.3em;
    background-color: rgb(127, 88, 178);
    border-bottom: .6em rgb(102, 51, 168) solid;
}

.facility-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(Images/background1.png);
    background-size:20em;
    opacity: 1;
    z-index: 0;

}

.facility-header >*{
    position: relative;
    z-index:  1;
}

.facility-header h1 {
    padding: .5em;
    color: white;
    margin: 0;
}



/*-------------------------Center article--------------------*/
.center-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 223, 255);
    position: relative;
    z-index: 1;
}

.center-article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(Images/background1.png);
    background-size: cover;
    opacity: .1;
    z-index: 0;
}

.center-article>* {
    position: relative;
    z-index: 1;
}

.center-article .title {
    background-color: rgb(102, 51, 168);
    color: white;
    padding: .5em 2em .5em 2em;
    border-radius: 0em 1em 0em 1em;
    border-bottom: .5em rgb(179, 82, 203) solid;
}

.center-article article {
    width: 50em;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.2em;
    background-color: rgb(232, 190, 238);
    padding: 1em;
    border-radius: .5em;
    box-shadow: .5em .5em 1em rgb(102, 51, 168);
    margin-bottom: 2em;
}

/*----------------------Table--------------------------------*/

.table-container {
    background-color: rgb(251, 223, 255);
    padding-top: 4em;
    padding-bottom: 4em;
}

.table {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

.table,
.table th,
td {
    border: .1em solid black;
    border-collapse: collapse;
}

.table th {
    font-size: 1.5em;
    padding: .5em;
    background-color: rgb(102, 51, 168);
    color: white;
    border: .01em solid black;
}

.table td {
    padding: .3em;
    background-color: rgb(251, 223, 255);
}

.table th td:nth-child(even) {
    background-color: rgb(65, 0, 156);
}

.table #row-title {
    text-align: center;
    background-color: rgb(193, 159, 237);
    font-weight: 300;
    font-size: 1.2em;
}



/*--------------------------Footer---------------------------*/
.footer {
    width: 100%;
    height: 5em;
    background-color: rgb(102, 51, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer address {
    padding-left: 2em;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif
}

.footer .footer-links {
    padding-right: 2em;
}

.footer img {
    width: 2em;
    padding-left: 1em;
}

.footer img:hover {
    width: 2.5em;

    animation: footer-link-select .5s;
}


@keyframes nav-item-select {
    from {
        font-size: 20px;
    }

    to {
        font-size: 21px;
        border-bottom: 5px rgb(102, 51, 168) solid;
    }
}

@keyframes footer-link-select {
    from {
        width: 2em;
    }

    to {
        width: 2.5em;
    }
}

@keyframes opacity {
    from {
        transform: translateY(-100%);
    }

    To {
        transform: translate(0);
    }
}

@keyframes blur-anim {
    from {
        filter: blur(0px);
    }
}

to {
    filter: blur(2px);
}