body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2ad34e;
}

.side-nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 200px;
    background-color: #058d10;
    border-right: 5px solid #ffffff;
    padding: 10px;
    box-shadow: 2px 0 5 px rgba(0, 0, 0, .3);
}

.side-nav a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    transition:  background-color 0.3s ease;
}

.side-nav a:hover{
    background-color: #555;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    background-color: rgb(255, 255, 255);
}

section h2{
    margin-top: 0;
}

html{
    scroll-behavior: smooth;
}